<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leaf Shop Footer</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <div>
                <span class="text-muted">&copy; 2023 Leaf Shop by leet1cecream. All Rights Reserved.</span>
                <span>
                    <a th:href="@{/tos}">Terms of Service</a> | <a th:href="@{/privacy}">Privacy Policy</a>
                </span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
