<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="header-head">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/custom.css}" href="../../static/css/custom.css" rel="stylesheet" type="text/css">
    <script th:src="@{/js/bootstrap.bundle.min.js}" src="../../static/js/bootstrap.bundle.min.js"></script>
    <title>Leaf Shop</title>
</head>
<body>
<header th:fragment="header-body">
    <nav class="navbar sticky-top navbar-expand-lg bg-primary bg-gradient mb-5">
        <div class="container-fluid w-75">
            <div class="justify-content-start row">
                <div class="col">
                    <a th:href="@{/}" class="navbar-brand">
                        <img src="../../static/images/logo.png" th:src="@{/images/logo.png}" height="35" alt="logo">
                    </a>
                </div>
                <div class="col">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown"> Categories </button>
                            <div class="dropdown-menu">
                                <a th:each="category : ${categories}" class="dropdown-item"
                                   th:href="@{/?category=__${category.id}__}" th:text="${category.name}"></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="justify-content-end row">
                <div class="col col-sm-7">
                    <form th:method="get">
                        <label for="search" hidden="hidden"></label>
                        <input class="form-control" th:value="${param.search}" type="search" id="search" name="search"
                               placeholder="Search" >
                    </form>
                </div>
                <div class="col">
                    <ul class="navbar-nav">
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="btn nav-link" th:href="@{/signup}"> Sign Up </a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="btn nav-link" th:href="@{/login}"> Log In </a>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <button class="btn dropdown-toggle" href="#" data-bs-toggle="dropdown"> Account </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/user/orders}">Orders</a>
                                <a class="dropdown-item" th:href="@{/user/settings}">Settings</a>
                                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                                <div sec:authorize="hasRole('ADMIN')">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/product/new}">New Product</a>
                                    <a class="dropdown-item" th:href="@{/category/}">Categories</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="btn nav-link" th:href="@{/cart}">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
