@import "bootstrap.min.css";

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #33663f;
    background-color: #ebf4ed;
    border-color: #ddeee1;
}

.alert-primary hr {
    border-top-color: #cce5d2;
}

.alert-primary .alert-link {
    color: #22442a;
}

.badge-primary {
    color: #212529;
    background-color: #63b175;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #4b955c;
}

.bg-primary {
    background-color: #63b175 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #4b955c !important;
}

.border-primary {
    border-color: #63b175 !important;
}

.btn-primary {
    color: #212529;
    background-color: #63b175;
    border-color: #63b175;
}

.btn-primary:hover {
    color: #212529;
    background-color: #50a062;
    border-color: #4b955c;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 177, 117, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #63b175;
    border-color: #63b175;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #4b955c;
    border-color: #458b56;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 177, 117, 0.5);
}

.btn-outline-primary {
    color: #63b175;
    background-color: transparent;
    border-color: #63b175;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #63b175;
    border-color: #63b175;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 177, 117, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #63b175;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #63b175;
    border-color: #63b175;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 177, 117, 0.5);
}

.list-group-item-primary {
    color: #33663f;
    background-color: #ddeee1;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #33663f;
    background-color: #cce5d2;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #33663f;
    border-color: #33663f;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #ddeee1;
}

.table-hover .table-primary:hover {
    background-color: #cce5d2;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #cce5d2;
}

.text-primary {
    color: #63b175 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #4b955c !important;
}
