<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-start min-vh-100">
<div th:replace="~{fragments/header :: header-body}"></div>
<div class="flex-grow-1 w-50 mx-auto">

    <h1 class="text-center mt-5">Cart</h1>
    <form th:method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>PRODUCT</th>
                <th>QUANTITY</th>
                <th>PRICE</th>
                <th>SUBTOTAL</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cartItems}">
                <td>
                    <a th:href="@{/product/__${item.product.id}__}">
                        <img src="" alt="" th:src="${item.product.imageUrl}"
                             th:alt="${item.product.name}" width="100">
                    </a>
                </td>
                <td>
                    <a th:href="@{/product/__${item.product.id}__}" th:text="${item.product.name}"></a>
                </td>
                <td>
                    <label for="quantity" hidden="hidden"></label>
                    <input type="number" class="form-control-custom" id="quantity" min="1" max="99"
                           th:name="${item.product.id}" th:value="${item.quantity}">
                </td>
                <td th:text="'$' + ${item.product.price}"></td>
                <td th:text="'$' + ${item.quantity * item.product.price}"></td>
                <td>
                    <a class="btn btn-danger mx-2" th:href="@{/cart/remove?productId=__${item.product.id}__}">X</a>
                </td>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><h5>Total:</h5></td>
                <td th:text="'$' + ${total}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="text-end">
            <button class="btn btn-primary btn-rounded mx-2" type=submit>Update cart</button>
            <a class="btn btn-success btn-rounded btn-lg mx-2" th:href="@{/checkout}">Proceed to Checkout</a>
        </div>
    </form>
</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
