<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-start min-vh-100">
<div th:replace="~{fragments/header :: header-body}"></div>
<div class="flex-grow-1 w-50 mx-auto">

    <div class="row justify-content-center text-center">
        <div class="col-md-4">
            <div class="card my-5">
                <img class="card-img-top" src="" alt="" th:src="${product.imageUrl}" th:alt="${product.name}">
                <div class="card-body" style="height: 160px;">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.getShortDescription()}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card my-5">
                <form th:method="post">
                    <h5 class="my-4">Are you sure you want to delete this product?</h5>
                    <a class="btn btn-secondary btn-rounded btn-lg mx-5 mb-3"
                       th:href="@{/product/__${product.id}__}">Cancel</a>
                    <button class="btn btn-danger btn-rounded btn-lg mx-5 mb-3" type="submit">Delete</button>
                    <p>* This process is ireversible</p>
                </form>
            </div>
        </div>
    </div>


</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
