<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-start min-vh-100">
<div th:replace="~{fragments/header :: header-body}"></div>
<div class="flex-grow-1 w-50 mx-auto">

    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <div class="card my-5">

                <form th:object="${product}" th:method="post">
                    <div class="m-3 text-start">
                        <label class="control-label text-start h6" for="name">Product name:</label>
                        <input class="form-control" name="name" id="name" type="text" placeholder="Product name"
                               th:value="${product.name}" th:field="*{name}">
                        <div class="text-danger m-1" th:if="${#fields.hasErrors('name')}">
                            <h6 th:errors="*{name}"></h6>
                        </div>
                    </div>
                    <div class="m-3 text-start">
                        <label class="control-label text-start" for="description"><h6> description:</h6></label>
                        <textarea class="form-control" name="description" id="description" placeholder="Description"
                                  rows="10" th:value="${product.description}" th:field="*{description}"></textarea>
                        <div class="text-danger m-1" th:if="${#fields.hasErrors('description')}">
                            <h6 th:errors="*{description}"></h6>
                        </div>
                    </div>
                    <div class="m-3 text-start">
                        <label class="control-label text-start" for="category"><h6>Category:</h6></label>
                        <select class="form-control" name="category" id="category" th:field="*{category}">
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:selected="${product.category == category}"
                                    th:text="${category.name}"></option>
                        </select>
                        <div class="text-danger m-1" th:if="${#fields.hasErrors('category')}">
                            <h6 th:errors="*{category}"></h6>
                        </div>
                    </div>
                    <div class="m-3 text-start">
                        <label class="control-label text-start" for="price"><h6>Price:</h6></label>
                        <input class="form-control" name="price" id="price" type="text" th:value="${product.price}"
                               th:field="*{price}">
                        <div class="text-danger m-1" th:if="${#fields.hasErrors('price')}">
                            <h6 th:errors="*{price}"></h6>
                        </div>
                    </div>
                    <div class="m-3 text-start">
                        <label class="control-label text-start" for="image"><h6>Image URL:</h6></label>
                        <input class="form-control" name="image" id="image" type="text" th:value="${product.imageUrl}"
                               th:field="*{imageUrl}">
                        <div class="text-danger m-1" th:if="${#fields.hasErrors('imageUrl')}">
                            <h6 th:errors="*{imageUrl}"></h6>
                        </div>
                    </div>
                    <a class="btn btn-secondary btn-rounded btn-lg mx-5 mb-3"
                       th:href="@{/product/__${product.id}__}">Cancel</a>
                    <button class="btn btn-success btn-rounded btn-lg mx-5 mb-3" type="submit" name="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
