<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-start min-vh-100">
<div th:replace="~{fragments/header :: header-body}"></div>

<div class="flex-grow-1 w-50 mx-auto">
    <h1 class="text-center mt-5">Error</h1>
    <div class="row justify-content-center text-center">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>TIMESTAMP</th>
                <td th:text="${timestamp}"></td>
            </tr>
            <tr>
                <th>PATH</th>
                <td th:text="${path}"></td>
            </tr>
            <tr>
                <th>ERROR</th>
                <td th:text="${error}"></td>
            </tr>
            <tr>
                <th>STATUS</th>
                <td th:text="${status}"></td>
            </tr>
            <tr>
                <th>MESSAGE</th>
                <td th:text="${message}"></td>
            </tr>
            <tr>
                <th>EXCEPTION</th>
                <td th:text="${exception}"></td>
            </tr>
            <tr>
                <th>TRACE</th>
                <td th:text="${trace}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>
