<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-start min-vh-100">
<div th:replace="~{fragments/header :: header-body}"></div>
<div class="flex-grow-1 w-50 mx-auto">
    <div class="mb-5" th:if="${param.category!=null}">
        <h1 th:text="${category.name}"></h1>
    </div>
    <div class="justify-content-center row row-cols-3">
        <div th:each="product : ${products}" class="col-sm-4">
            <div class="card mx-3 mb-4">
                <a th:href="@{/product/__${product.id}__}">
                    <img class="card-img" src="" th:src="${product.imageUrl}" alt="" th:alt="${product.name}" width="200" height="300">
                </a>
                <div class="card-body">
                    <a th:href="@{/?category=__${product.category.id}__}">
                        <span class="small" th:text="${product.category.name}">category name</span>
                    </a>
                    <a th:href="@{/product/__${product.id}__}">
                        <h5 class="card-title" th:text="${product.name}">name</h5>
                    </a>
                    <p th:text="${product.getShortDescription()}">product description</p>
                    <form th:action="@{/cart/add}" th:method="get">
                        <label for="productId" hidden="hidden"></label>
                        <input hidden="hidden" id="productId" name="productId" th:value="${product.id}">
                        <label class="h3 text-danger" th:text="'$' + ${product.price}" for="submit">price</label>
                        <button class="btn btn-primary btn-rounded mx-3" type="submit" id="submit">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination justify-content-center my-5" th:with="currentUrl=(${@currentUrlWithoutParam.apply('page')})">
            <li th:class="'page-item ' + ${currentPage != 0 ? '' : 'disabled'}"><a class="page-link" th:href="@{${currentUrl}(page=${currentPage})}">Previous</a></li>
            <li class="page-item disabled"><a class="page-link" th:text="${currentPage + 1}"></a></li>
            <li th:class="'page-item ' + ${totalPages > 1 && currentPage != totalPages ? '' : 'disabled'}"><a class="page-link" th:href="@{${currentUrl}(page=${currentPage + 2})}">Next</a></li>
        </ul>
    </div>

</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
