<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/header :: header-head}">
    <title></title>
</head>
<body class="d-flex flex-column justify-content-start min-vh-100">
<div th:replace="~{fragments/header :: header-body}"></div>
<div class="flex-grow-1 w-50 mx-auto align-middle">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a th:href="@{/?category=__${product.category.id}__}">
                        <span class="small card-subtitle" th:text="${product.category.name}">category name</span>
                    </a>
                    <h3 class="card-title" th:text="${product.name}"></h3>
                </div>
                <div class="col justify-content-end text-end" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-secondary btn-rounded" th:href="@{/product/__${product.id}__/edit}">Edit</a>
                    <a class="btn btn-danger btn-rounded" th:href="@{/product/__${product.id}__/delete}">Delete</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-dm-6">
                    <div class="white-box text-center">
                        <img class="img-responsive card-img" src="" alt="" th:src="${product.imageUrl}"
                             th:alt="${product.name}" width="300">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6 justify-content-center text-center row">
                    <p th:text="${product.description}"></p>
                    <form th:action="@{/cart/add}" th:method="get" class="col">
                        <label for="productId" hidden="hidden"></label>
                        <input hidden="hidden" id="productId" name="productId" th:value="${product.id}">
                        <label class="h3 text-danger" th:text="'$' + ${product.price}" for="submit">price</label>
                        <button class="btn btn-primary btn-rounded mx-3" type="submit" id="submit">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<div th:replace="~{fragments/footer}"></div>
</body>
</html>
